/*NAVIGATION*/
.navbar{
	background-color:#242424 !important;
	border=bottom:1px solid #b9b9b9 !important;
	font-family: 'Playfair Display', serif;
}
.navbar a {
	color:#CCCCC !important;
}

.navbar a:hover{
	color:#ffffff !important;
	background-color:#646464 !important;
}

.navbar-header .navbar-brand {
	color:white !important;
	font-size:20px;
}

/* HEADER*/
.header {
	padding: 140px 0px 60px 0px;/*top right bottom left--- works clock wise*/
	background:url(../img/bg.jpg) no-repeat center center ;/*.. for going back and other are path*/
	background-size:cover;
	width:100%;
	border-bottom:2px solid #c9c9c9;
}

.header p{
	color:white;
	font-size:15px;
	font-family: 'Indie Flower', cursive;
}

.header .btn{
	padding:5px 50px 5px 50px;
}
/*for devices smaller than 760px*/
@media(max-width:760px){
	.header{
		padding-top:20%;
		text-align:center;
		
		
	}
	.header p{
		font-size:9px;
	}
	
}
/*CAROUSEL*/
#bccarousel{
	padding:30px 2px 2px 2px;
	width:80%;
	height:50%;
}
#wrapper{
	align:center;
}
.carousel-inner .center {
    margin: auto;
    width: 50%;
    border: 300px solid green;
    padding: 1000px;
}
/*ABOUT*/

.about{
	padding:100px 0px 100px 0px;
}

.about h1{
	font-size:35px;
	color:#337ab7;
	padding:0 0 25px;
}

.about p{
	padding-bottom:25px;
}